XF/Service References/ServiceReference1/SendMsg.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://passport.shu.edu.cn/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://passport.shu.edu.cn/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://passport.shu.edu.cn/">
      <s:element name="SendMsgChannel1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mobiles" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contents" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMsgChannel1Response">
        <s:complexType />
      </s:element>
      <s:element name="ShuSoapHeader" type="tns:ShuSoapHeader" />
      <s:complexType name="ShuSoapHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="SendMsgChannel2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mobiles" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contents" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMsgChannel2Response">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendMsgChannel1SoapIn">
    <wsdl:part name="parameters" element="tns:SendMsgChannel1" />
  </wsdl:message>
  <wsdl:message name="SendMsgChannel1SoapOut">
    <wsdl:part name="parameters" element="tns:SendMsgChannel1Response" />
  </wsdl:message>
  <wsdl:message name="SendMsgChannel1ShuSoapHeader">
    <wsdl:part name="ShuSoapHeader" element="tns:ShuSoapHeader" />
  </wsdl:message>
  <wsdl:message name="SendMsgChannel2SoapIn">
    <wsdl:part name="parameters" element="tns:SendMsgChannel2" />
  </wsdl:message>
  <wsdl:message name="SendMsgChannel2SoapOut">
    <wsdl:part name="parameters" element="tns:SendMsgChannel2Response" />
  </wsdl:message>
  <wsdl:message name="SendMsgChannel2ShuSoapHeader">
    <wsdl:part name="ShuSoapHeader" element="tns:ShuSoapHeader" />
  </wsdl:message>
  <wsdl:portType name="SendMsgSoap">
    <wsdl:operation name="SendMsgChannel1">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">通过通道1发送短信</wsdl:documentation>
      <wsdl:input message="tns:SendMsgChannel1SoapIn" />
      <wsdl:output message="tns:SendMsgChannel1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMsgChannel2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">通过通道2发送短信</wsdl:documentation>
      <wsdl:input message="tns:SendMsgChannel2SoapIn" />
      <wsdl:output message="tns:SendMsgChannel2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SendMsgSoap" type="tns:SendMsgSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMsgChannel1">
      <soap:operation soapAction="http://passport.shu.edu.cn/SendMsgChannel1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SendMsgChannel1ShuSoapHeader" part="ShuSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMsgChannel2">
      <soap:operation soapAction="http://passport.shu.edu.cn/SendMsgChannel2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SendMsgChannel2ShuSoapHeader" part="ShuSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendMsgSoap12" type="tns:SendMsgSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMsgChannel1">
      <soap12:operation soapAction="http://passport.shu.edu.cn/SendMsgChannel1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SendMsgChannel1ShuSoapHeader" part="ShuSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMsgChannel2">
      <soap12:operation soapAction="http://passport.shu.edu.cn/SendMsgChannel2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SendMsgChannel2ShuSoapHeader" part="ShuSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SendMsg">
    <wsdl:port name="SendMsgSoap" binding="tns:SendMsgSoap">
      <soap:address location="http://passport.shu.edu.cn:8080/Services/SendMsg.asmx" />
    </wsdl:port>
    <wsdl:port name="SendMsgSoap12" binding="tns:SendMsgSoap12">
      <soap12:address location="http://passport.shu.edu.cn:8080/Services/SendMsg.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>